<section id="powerCouple" class="bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-heading">Holiday Cover</h2>
          <hr class="dark">
          <p class="text">A new cover song, just in time for the holidays.</p>
          <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/540804357%3Fsecret_token%3Ds-2i7an&color=%23f70101&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
          
        </div>
    </div>
</section>
