<section id="mccluskeys-room" class="bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-heading">New Album</h2>
          <hr class="light">
          <p class="text-faded">Not a hip new dim sum joint on Butler St... a new album from Nice Cars <em>COMING SOON!</em><br />
          Preview some of the tracks from our <a href="#videos">rehearsal sessions</a></p>
          <a href="#"><img src="/img/mccluskeys-room-cover.jpg" width="100%" style="width:100%;" /></a>
        </div>
    </div>
</section>
