<section id="merch">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Merch</h2>
          <p class="text">These classic t-shirts are avaiable in multiple sizes and will be delivered right to your door in 2-3 days. (Free shipping if you are an Amazon Prime member).
            <br /> <a href="https://www.amazon.com/s?rh=n%3A7141123011%2Cp_4%3ANice+Cars&ref=w_bl_sl_s_ap_web_7141123011">See our full catalog of merch on Amazon.</a>
          </p>
        </div>
        <div class="col-sm-2 col-sm-offset-1 text-center">
          <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=nicecarsband-20&language=en_US&marketplace=amazon&region=US&placement=B09TDRMN2V&asins=B09TDRMN2V&linkId=2baf13c7909739d0d65be0ce7bc464f4&show_border=true&link_opens_in_new_window=true"></iframe>
        </div>
        <div class="col-sm-2 col-sm-offset-1 text-center">
          <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=nicecarsband-20&language=en_US&marketplace=amazon&region=US&placement=B07TYJ53JW&asins=B07TYJ53JW&linkId=12a5d303315a611bb439d6fe7f4f1e9f&show_border=true&link_opens_in_new_window=true"></iframe>
        </div>
        <div class="col-sm-2 col-sm-offset-1 text-center">
          <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=nicecarsband-20&language=en_US&marketplace=amazon&region=US&placement=B07S6S5916&asins=B07S6S5916&linkId=f5e9cc4620455652dd2aedc0e97f81ef&show_border=true&link_opens_in_new_window=true"></iframe>
        </div>
        <div class="col-sm-2 col-sm-offset-1 text-center">
          <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=nicecarsband-20&language=en_US&marketplace=amazon&region=US&placement=B07S1RR3G3&asins=B07S1RR3G3&linkId=4380cf4d20036b53cbf61e1fae2201d4&show_border=true&link_opens_in_new_window=true"></iframe>
        </div>
      </div>
    </div>
</section>
