<section id="merch" class="bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Merch</h2>
          <p class="text-faded">These classic t-shirts are avaiable in multiple sizes and will be delivered right to your door in 2-3 days. (Free shipping if you are an Amazon Prime member).
            <a href="https://www.amazon.com/s?rh=n%3A7141123011%2Cp_4%3ANice+Cars&ref=w_bl_sl_s_ap_web_7141123011">See our full catalog of merch on Amazon.</a>
          </p>
          <hr class="light">
        <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_tracking_id = "nicecars04-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_linkid = "6fcafc8a4712002036b90a837d7939c6";
amzn_assoc_asins = "B07S6S5916,B07S1RR2G3,B07S1RR3G3,B07H3FGPGY,B01LDG6YYA,B013XBV7PY";
amzn_assoc_search_bar = "false";
amzn_assoc_title = "Nice Cars Merch";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>

	</div>
    </div>
</section>
