{{ "<!-- music -->" | safeHTML }}
<section class="bg-primary" id="music">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.music.headline }}{{ . }}{{ end }}</h2>
                <hr class="light">
                <p class="text-faded">{{ with .Site.Params.music.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-4 col-md-2 col-md-offset-3 text-center"><a href="https://open.spotify.com/artist/7zZQqqJzKwgISPWmMh0KBp" class="btn faded"><i class="fa fa-spotify fa-3x wow bounceIn" data-wow-delay=".1s"></i><br />Spotify</a></div>
            <div class="col-xs-4 col-md-2 text-center"><a href="https://itunes.apple.com/us/artist/nice-cars/id944024010" class="btn faded"><i class="fa fa-apple fa-3x wow bounceIn" data-wow-delay=".1s"></i><br />Apple Music</a></div>
            <div class="col-xs-3 col-md-2 text-center"><a href="https://soundcloud.com/nice-cars" class="btn faded"><i class="fa fa-soundcloud fa-3x wow bounceIn" data-wow-delay=".1s"></i><br />Soundcloud</a></div>
        </div>
        <div class="row"><br /></div>
        <div class="row">
             <div class="col-xs-4 col-md-2 col-md-offset-3 text-center"><a href="https://nicecars.bandcamp.com" class="btn faded">BandCamp</a></div>
             <div class="col-xs-4 col-md-2 text-center"><a href="https://play.google.com/store/music/artist/Nice_Cars?id=Aeii7avq36e62f3s7zixrswjcpe" class="btn faded">Google Play</a></div>
            <div class="col-xs-4 col-md-2 text-center"><a href="http://tidal.com/artist/6293611"  class="btn faded">Tidal</a></div>
        </div>
    </div>
</section>
