<section id="latest" class="bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-heading">New Album</h2>
          <hr class="light">
          <p class="text-faded">Not the moves of Bob Seger ... <em>Night Blues</em> is a new album from Nice Cars!<br />
          Get it every where you <a href="#music">listen to music</a>. </p>
          <a href="https://nicecars.bandcamp.com/album/night-blues"><img src="/img/night-blues-cover.jpg" width="100%" style="width:100%;" /></a>
        </div>
    </div>
</section>
