<section id="latest" class="bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-heading">New EP</h2>
          <hr class="light">
          <p class="text-faded">In time for the holidays, a little sample from what we've been up to while quarentined <em>OUT NOW!</em><br />
            <a href="https://nicecars.bandcamp.com/album/polished-rust">Check it out on nicears.bandcamp.com</a><br />
          <p><a href="https://nicecars.bandcamp.com/album/polished-rust"><img src="/img/polished-rust-cover.jpg" width="100%" style="width:100%;" /></a></p>
        </div>
    </div>
</section>
