<section id="powerCouple" class="bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-heading">New Album</h2>
          <hr class="light">
          <p class="text-faded">A new EP, just in time for the holidays. <a href="https://nicecars.bandcamp.com/album/power-couple">Listen now</a></p>
          <a href="https://nicecars.bandcamp.com/album/power-couple"><img src="/img/power-couple-cover.jpg" width="100%" style="width:100%;" /></a>
        </div>
    </div>
</section>
