<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "facebook.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "hero.html" . }}
        {{ partial "powerCouple.html" . }}
        {{ partial "music.html" . }}
        {{ partial "videos.html" . }}
        {{ partial "contact.html" . }}
        {{ partial "updates.html" . }}


        {{ partial "js.html" . }}
        {{ partial "googleAnalytics.html" . }}

    </body>
</html>
